@model HomeVM
@{
    ViewData["Title"] = "Index";
    int num = 1;
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Information</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>Image</th>
                                        <th>Head</th>
                                        <th>Content</th>
                                        <th>Setting</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var info in Model.Informations)
                                    {
                                        <tr>
                                            <td>@num</td>
                                            <td><img src="~/assets/img/@info.Image" /></td>
                                            <td>@info.Head</td>
                                            <td>@info.Content</td>
                                            <td>
                                                <a asp-action="Update" asp-route-id="@info.Id">
                                                    <label class="btn btn-warning">
                                                        <i class="mdi mdi-table-edit"></i>
                                                    </label>
                                                </a>
                                                <form method="post" asp-action="Delete" asp-route-id="@info.Id" class="d-inline">
                                                    <button type="submit" class="btn btn-danger mb-2 ml-2">
                                                        <i class="mdi mdi-delete"></i>
                                                    </button>
                                                </form>
                                            </td>

                                        </tr>
                                        num++;
                                        }

                                    <a asp-area="Admin" asp-controller="Dashboard" asp-action="Create"><label class="btn btn-success">Create</label></a>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    @await Component.InvokeAsync("AdminFooter") 
    <!-- partial -->
</div>

